<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title><%= name %></title>
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700' rel='stylesheet' type='text/css'>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!--vendor:css-->
	<!-- endinject -->

	<!-- app:css -->
	<!-- endinject -->
</head>
<body ng-strict-di ng-app="<%= scriptAppName %>" ng-controller="AppController as app" layout="row">

<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<main-menu></main-menu>

<main layout="column" flex>

	<section layout="column" flex ng-outlet id="main"></section>

</main><% if(features.socketio) { %>

<script src="socket.io-client/socket.io.js"></script><% }%>

<!-- vendor:js -->
<!-- endinject -->

<!-- vendor js customization -->
<!-- end vendor js customization -->

<!-- app:js -->
<!-- endinject -->

</body>
</html>
