/**
 * App-wide Styles
 */

body {
	overflow: hidden;
}

main {
	overflow: auto;
}

button.md-button {

	&.md-fab > md-icon {
		width: 24px;
		height: 24px;
	}

	&.md-fab.fab-overlap {
		&.md-fab-bottom-right,
		&.md-fab-bottom-left {
			bottom: -20px;
		}
	}
}

