/**
 * App-wide Styles
 */

body {
	overflow: hidden;
}

main {
	overflow: auto;
}

button.md-button {
	&.md-fab.fab-overlap {
		&[disabled] {
			background: #eee;
		}
		&.md-fab-top-left {
			left: 12px;
		}
	}
}

md-list {
	&.fab-padding {
		padding-bottom: 56px;
	}

	.list-info {
		color: rgba(0, 0, 0, 0.24);
	}

	md-item {
		&.selected {
			background: rgb(227, 242, 253);
		}

		&.list-head {
			color: #888;

			md-item-content {
				padding-left: 64px;
			}
		}
	}
}

md-dialog {
	max-height: 85%;
}

md-toolbar {
	.md-toolbar-tools {
		&.toolbar-tools-fab-overlap {
			padding-left: 78px;
		}
	}

	.md-button:not(.md-fab) {
		min-width: 1em;
	}

	.subtitle {
		font-size: .5em;
	}

	&.md-tall {
		button.md-button {
			&.md-fab.fab-overlap {
				&.md-fab-top-right,
				&.md-fab-top-left {
					top: 112px;
				}
			}
		}
	}

	&.md-medium-tall {
		button.md-button {
			&.md-fab.fab-overlap {
				&.md-fab-top-right,
				&.md-fab-top-left {
					top: 72px;
				}
				&.md-fab-top-left {
					left: 12px;
				}
			}
		}
	}
}

md-content[ui-view="detail"] {
	background-color: rgb(245, 245, 245);

	md-content, md-tabs {
		background-color: rgb(245, 245, 245);
	}
}
