@import "variables";

/**
 * App-wide Styles
 */

body {
	overflow: hidden;
}

main {
	overflow: auto;

	section#main[ng-outlet] {
		overflow: hidden;
	}

	md-content {
		background-color: $lightBackground;
	}
}

.fab-padding {
	padding-bottom: 48px;
}
