md-input-container {

	.md-select-label {
		padding-top: 0;
		padding-left: 2px;
		width: 100%;
	}

	md-select {
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		margin-top: 6px;

		.md-select-icon {
			color: rgba(0, 0, 0, 0.26);
		}
	}

	&.md-input-has-value md-select {
		padding: 0;
		border-bottom: none;

		.md-select-icon {
			color: inherit;
		}
	}
}
