$darkBackground: rgba(250, 250, 250, 0.6);
$lightBackground: rgba(250, 250, 250, 0.3);

$selectedItemBackground: rgb(227, 242, 253);

$lightText: rgba(0, 0, 0, 0.54);
$lighterText: rgba(0, 0, 0, 0.24)
