<md-dialog aria-label="Create a new clientModelDoc" id="clientModelDoc-create">

  <md-toolbar class="md-accent">
    <h3 class="md-toolbar-tools">
      Create a new clientModelDoc
    </h3>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">

			<section class="section slim" layout="column">
				<p>
						Create a new clientModelDoc for your application.
				</p>
			</section>

			<form name="createForm">

				<section class="section slim" layout="column">
					<span layout="row" layout-align="start center">
						<span flex="33">ClientModelDoc is active</span>
						<md-switch name="active" class="no-label" aria-label="clientModelDoc active" ng-model="create.clientModelDoc.active"></md-switch>
					</span>
				</section>

				<section class="section" layout="column">

					<model-input-group ng-model="create.clientModelDoc"
														form="createForm"
														field-definitions="create.clientModelDocDefinition">
					</model-input-group>

				</section>
			</form>
		</div>
	</md-dialog-content>

   <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-cldivick="create.close()">Cancel</md-button>
    <md-button ng-disabled="createForm.$invalid" ng-click="create.create(createForm)" class="md-primary md-raised">Create clientModelDoc</md-button>
   </md-dialog-actions>

</md-dialog>
