<md-toolbar class="md-tall" scroll-shrink layout-align="start start">

  <span class="md-toolbar-tools md-toolbar-tools-top">
    <md-button ng-click="app.openMainMenu()" class="md-icon-button" aria-label="Open main menu">
      <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
    </md-button>
  </span>

  <span flex></span>

  <h2 class="md-toolbar-tools md-toolbar-tools-bottom toolbar-tools-fab-overlap">
    <span>My Users</span>
  </h2>

  <a ui-sref="admin.user.list.create">
    <md-button hide show-gt-md class="md-fab md-accent md-fab-top-left fab-overlap" aria-label="Create a new user">
      <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    </md-button>
  </a>

</md-toolbar>

<md-content ng-if="list.users.length" id="user-items-content" flex>
  <md-list flex>

		<md-subheader>
			<span layout="row">
				<div class="md-avatar" style="margin-right: 20px">
						<list-image></list-image>
					</div>
				<h4 flex="66">Name</h4>
				<h4 flex="33" hide show-gt-md>Active</h4>
			</span>
		</md-subheader>


    <md-list-item class="md-3-line"
        ng-repeat="user in list.users"
        ng-click="items.showInDetails(user)"
        ng-class="{'selected': items.isSelected(user)}">

        <div class="md-avatar">
          <list-image ng-if="!user.image" string="{{user.name}}"></list-image>
        </div>

			 <div class="md-list-item-text" layout="column" flex="66">
          <h3>{{user.name}}</h3>
          <h4>{{items.getRole(user).name}}</h4>
			 </div>

			<div class="md-list-item-text" layout="column" flex="33" show-gt-md>
				<md-icon ng-show="user.active" class="list-info" md-svg-icon="toggle:ic_check_box_24px"></md-icon>
				<md-icon ng-show="!user.active" class="list-info" md-svg-icon="toggle:ic_check_box_outline_blank_24px"></md-icon>
      </div>

   		<md-divider md-inset></md-divider>
    </md-list-item>


  </md-list>
</md-content>

<md-content ng-if="!list.users.length">
  <md-card>
    <h2>No Users found</h2>
    <p>
      There are no Users!
      <a ui-sref="user.create">Create one!</a>
    </p>
  </md-card>
</md-content>

<a ui-sref="admin.user.list.create">
  <md-button hide-gt-md ui-sref="admin.user.list.create" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new user">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  </md-button>
</a>
