md-sidenav[md-component-id="mainMenu"] {

	md-list {
		width: 100%;

		.md-button {
			display: block;
			border-radius: 0;
			color: inherit;
			cursor: pointer;
			font-weight: 500;
			line-height: 48px;
			margin: 0;
			max-height: 48px;
			overflow: hidden;
			padding: 0px 16px;
			text-align: left;
			text-decoration: none;
			text-transform: none;
			white-space: normal;
			width: 100%;

			md-icon {
				margin-right: 32px;
			}

			span {
				margin-right: 32px;
			}
		}

		md-item {
			padding: 0;

			md-list {
				.md-button {
					padding-left: 32px;
					font-weight: 400;
					text-transform: none;
					text-decoration: none;
				}
			}
		}
	}

}
