$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

[toggle-component] {

	overflow: hidden;

	&.toggle-component-closed {
		display: none;
	}

	//&.ng-enter {
	//	display: flex;
	//	/* this is required as of 1.3x to properly
	//  apply all styling in a show/hide animation */
	//	transition: 0s all;
	//}

	//&.ng-enter {
	//	max-width: 1px;
	//}

	//&.ng-leave {
	//	position: absolute;
	//	max-width: 1px;
	//}

	//&.ng-enter-active,
	//&.ng-leave-active {
	//	transition: $swift-ease-out;
	//}


}

