<md-input-container flex>
  <label>
    {{fieldDef.desc}}<span ng-if="fieldDef.validators.required">*</span>
  </label>

  <input name="{{fieldDef.name}}"
         ng-model="ngModel[fieldDef.name]"
         ng-change="ngChange(fieldDef.name, ngModel[fieldDef.name])"
         type="{{fieldDef.type}}"
         mongoose-error="{{fieldDef.validators.mongoose.value}}"
         remote-unique="{{fieldDef.validators['remote-unique'].value}}"
         remote-unique-ignore="{{::ngModel[fieldDef.name]}}"
         repeat-input="{{fieldDef.validators['repeat-input'] ? 'ngModel[\'' + fieldDef.validators['repeat-input'].value + '\']' : ''}}"
         ng-pattern="fieldDef.validators.pattern.value"
         ng-required="fieldDef.validators.required" />

  <div ng-messages="form[fieldDef.name].$error" ng-if="form[fieldDef.name].$dirty">
    <div ng-repeat="(name, validator) in fieldDef.validators" ng-message="{{name}}">
      {{validator.error}}
    </div>
    <div ng-if="fieldDef.type === 'url'" ng-message="url">Should be a url</div>
  </div>
</md-input-container>
