<div style="padding-left: 4px;">
  <md-select ng-model="ngModel[fieldDef.name]"
             md-on-open="getOptions()"
             ng-change="ngChange(fieldDef.name, ngModel[fieldDef.name])"
             placeholder="Select a {{fieldDef.desc}}"
             ng-required="fieldDef.required"
             flex>
    <md-option ng-repeat="opt in options" ng-value="fieldDef.valueKey ? opt[fieldDef.valueKey] : opt">
      {{fieldDef.displayKey ? opt[fieldDef.displayKey] : opt}}
    </md-option>
  </md-select>
</div>
