<md-toolbar class="md-tall" scroll-shrink>
	<span class="md-toolbar-tools md-toolbar-tools-top" flex layout="row">
		<md-button ng-click="appController.openMainMenu()" aria-label="Open main menu">
			<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
		</md-button>
	</span>
	<span class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="row">
		<h2><%= appname %></h2>
	</span>
</md-toolbar>

<md-content>
	<md-card>
		<md-card-content>

			<h2>The awesome <%= appname %> app</h2>

			<p>This is version <code>v<%= pkg.version %></code> of the awesome <%= appname %> App.</p>

		</md-card-content>
	</md-card>
</md-content>
