<md-toolbar class="md-medium-tall md-whiteframe-z1" md-scroll-shrink id="features-toolbar">
    <span flex></span>

    <div class="md-toolbar-tools">
        <main-menu-button></main-menu-button>
        <h2>Features</h2>
    </div>
</md-toolbar>

<md-content flex class="md-padding" id="features-content" layout="column" layout-align="start center">


    <!--DELETE SELECTION START -->


    <md-card>
        <div class="md-card-image">
            <md-grid-list md-cols="5" md-row-height="4:3" md-gutter-gt-sm="4px">
                <md-grid-tile ng-repeat="feature in features.features"
                              md-rowspan="{{feature.size.row}}"
                              md-colspan="{{feature.size.col}}"
                              md-colspan-sm="1"
                              ng-class="feature.color">
                    <a ng-href="{{feature.link}}">
                        <img ng-src="{{feature.icon}}"></img>
                    </a>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <md-card-content class="text-card">
            <h2 class="md-headline">Look at this</h2>

            <span class="md-subhead">{{features.greeting}}</span>

            <p class="md-body-1">
                This is the <b>/features</b> route controlled by the FeaturesController,
                which is a component of the astounding <%= humanAppName %> App.<br/>
                Please have a look at all the awesome technologies that make this possible.
            </p>
        </md-card-content>
    </md-card>

    <md-card ng-repeat="feature in features.features">
        <div class="md-card-image" ng-class="feature.color">
            <img ng-src="{{feature.icon}}"></img>
        </div>
        <md-card-content class="text-card">
            <h2 class="md-headline">{{feature.name}}</h2>

            <span class="md-subhead">{{feature.sub}}</span>

            <p class="md-body-1">
                {{feature.text}}
            </p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-accent" ng-href="{{feature.link}}">More</md-button>
        </div>
    </md-card>


    <!--DELETE SELECTION END -->


</md-content>
