#features-toolbar {}

#features-content {}

// DELETE ALL FROM HERE TO EOF

#features-content {
	md-card {

		transition: box-shadow .3s;

		img {
	    width: 70%;
	    margin: auto;
	    display: block;
		}

		&:hover {
			box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084);
		}

		max-width: 556px;

		.gray {
			background: #f5f5f5;
		}

		.green {
			background: #b9f6ca;
		}

		.blue {
			background: #84ffff;
		}

		.deepBlue {
			background: #448aff;
		}

		.white {
			background: #fff;
		}

		.brown {
			background: #a1887f;
		}

		.red {
			background: #ff8a80;
		}

		.pink {
			background: #ff80ab;
		}
	}
}
