<md-item-content>
  <div class="md-tile-left">
    <list-image string="{{viewModel[iconProp || 'name']}}"></list-image>
  </div>

  <div ng-repeat="propDef in propDefinitions"
       ng-if="showProp(propDef)"
       class="md-tile-content"
       ng-class="{'hide-in-narrow': propDef.displayPriority === 'low'}"
       flex="{{propDef.flex || 66}}">
    <h4 ng-if="propDef.type !== 'url'">{{::display(viewModel, propDef)}}</h4>
    <a ng-if="propDef.type === 'url'"
       ng-click="$event.stopPropagation()"
       target="_blank"
       ng-href="{{display(viewModel, propDef)}}">
      {{propDef.urlDesc || 'link'}}
    </a>
  </div>

  <ng-transclude></ng-transclude>
</md-item-content>
