<md-toolbar class="md-medium-tall md-whiteframe-z1" md-scroll-shrink id="<%= name %>-<%= subPath %>-toolbar">
    <span flex></span>

    <div class="md-toolbar-tools">
        <main-menu-button></main-menu-button>
        <h2>{{<%= controllerAsName %>.title}}</h2>
    </div>
</md-toolbar>

<md-content flex class="md-padding" id="<%= name %>-list-content" layout="column" layout-align="start center"
            ng-if="!<%= controllerAsName %>.<%= arrayName %>.length">
    <md-card>
        <md-card-content class="text-card">
            <h2 class="md-headline">No <%= _.capitalize(name) %> found</h2>

            <span class="md-subhead">No records found</span>

            <p class="md-body-1">
                This is the <b><%= route %></b> route of the <%= moduleName %></b> module,
                a sublime component of the astounding <%= humanAppName %> App.<br/>
                Great. Let's turn this into something useful.
            </p>
        </md-card-content>
    </md-card>
</md-content>

<md-content flex class="md-padding" id="<%= name %>-<%= subPath %>-content"
            ng-if="<%= controllerAsName %>.<%= arrayName %>.length">
    <section>
        <md-subheader class="md-primary">Search</md-subheader>

        <md-list layout="column">

            <md-item ng-repeat="<%= name %> in <%= controllerAsName %>.<%= arrayName %>"
                     ng-click="items.showInDetails(<%= name %>)"
                     ng-class="{'selected': items.isSelected(<%= name %>)}">

                <md-item-content>

                    <div class="md-tile-left">
                        <list-image string="{{<%= name %>.name}}"></list-image>
                    </div>

                    <div class="md-tile-content" flex="66">
                        <h3>{{<%= name %>.name}}</h3>

                        <p ng-show="<%= name %>.info">{{<%= name %>.info}}</p>
                    </div>

                    <div class="md-tile-content" flex hide show-gt-md>
                        <h3>
                            <md-icon ng-show="<%= name %>.active" class="list-info"
                                     md-svg-icon="toggle:ic_check_box_24px"></md-icon>
                            <md-icon ng-show="!<%= name %>.active" class="list-info"
                                     md-svg-icon="toggle:ic_check_box_outline_blank_24px"></md-icon>
                        </h3>
                    </div>

                </md-item-content>

                <md-divider md-inset></md-divider>

            </md-item>

        </md-list>
    </section>
</md-content>
