<md-dialog aria-label="Passwort ändern" id="admin-user-edit-password">

	<md-toolbar class="md-hue-1">
		<span flex></span>
		<h3 class="md-toolbar-tools">
			Change password of user {{password.user.name}}
		</h3>
	</md-toolbar>

	<md-content>
		<p>
			Set a new password for user <em>{{password.user.name}}</em>.
			<br/>
			After setting a new password the user can only access the
			application with the new password.
		</p>

		<form name="changePasswordForm">

			<span layout="row" class="detail-info">
				<md-input-container flex>
					<label>New Password</label>
					<input name="newPassword" type="password" ng-model="password.user.password" required>
					<div ng-messages="changePasswordForm.newPassword.$error">
						<div ng-message="required">Please enter a password</div>
					</div>
				</md-input-container>
			</span>

			<span layout="row" class="detail-info">
				<md-input-container flex>
					<label>Repeat Password</label>
					<input name="newPasswordRepeat" type="password" ng-model="password.passwordRepeat" repeat-input="password.user.password" required>
					<div ng-messages="changePasswordForm.newPasswordRepeat.$error">
						<div ng-message="required">Please repeat the new password</div>
						<div ng-message="repeat-input">The entered passwords do not match</div>
					</div>
				</md-input-container>
			</span>

		</form>

	</md-content>

	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-click="password.cancel()">Cancel</md-button>
		<md-button ng-disabled="changePasswordForm.$invalid" ng-click="password.change()" class="md-raised md-primary">Change password</md-button>
	</div>

</md-dialog>
