<md-toolbar class="md-hue-1 md-tall" id="clientModelDoc-detail-toolbar">

  <span layout="row" layout-align="space-between" class="md-toolbar-tools md-toolbar-tools-top">
    <md-button ng-click="detail.goBack()" aria-label="Close detail view">
      <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
    </md-button>
    <md-button ng-click="detail.edit()" aria-label="Edit clientModelDoc">
      <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
    </md-button>
  </span>

  <span class="md-toolbar-tools md-toolbar-tools-bottom" layout="column">
    <h3>{{::detail.clientModelDoc.name}}</h3>
  </span>

</md-toolbar>

<md-content class="md-padding" flex id="clientModelDoc-detail-content">

  <section class="section" layout="column">

    <span class="section-title">ClientModelDoc data</span>

    <span layout="row" layout-align="start center" class="detail-info" ng-hide="detail.clientModelDoc.active">
      <span flex>This clientModelDoc is not active</span>
    </span>

    <model-view-group model="detail.clientModelDoc"
                      definitions="index.clientModelDocDefinition"
                      type="detail">
    </model-view-group>

  </section>

  <section class="section" layout="column">

    <span class="section-title">Record Information</span>

    <span layout="row" layout-sm="column" class="detail-info">
      <span flex="45">Modified</span>
      <span flex ng-show="detail.clientModelDoc.modified" class="subtitle">
        <span am-time-ago="detail.clientModelDoc.modified"></span>
        <md-tooltip>{{detail.clientModelDoc.modified | date:'dd. MMMM yyyy H:mm'}}</md-tooltip>
        {{detail.clientModelDoc.modifiedBy && 'by ' + detail.clientModelDoc.modifiedBy}}
      </span>
    </span>

    <span layout="row" layout-sm="column" class="detail-info">
      <span flex="45">Created</span>
      <span flex ng-show="detail.clientModelDoc.created" class="subtitle">{{detail.clientModelDoc.created | date:'dd. MMMM yyyy H:mm'}}</span>
    </span>

  </section>

</md-content>


