#home-toolbar {}

#home-content {

	md-card {

		max-width: 600px;

		md-card-content {
			.md-headline {
				line-height: 2.4rem;
				margin-bottom: 0.16em;
			}

			.md-subhead {
				color: rgba(0, 0, 0, 0.54);
			}

			p {
				margin-top: 1.16rem;
			}
		}

		.gray {
			background: #f5f5f5;
		}

		.green {
			background: #b9f6ca;
		}

		.blue {
			background: #84ffff;
		}

		.deepBlue {
			background: #448aff;
		}

		.white {
			background: #f5f5f5;
		}

		.brown {
			background: #a1887f;
		}

		.red {
			background: #ff8a80;
		}

		.pink {
			background: #ff80ab;
		}
	}
}
